.main.container 
    h2.main__title About me 
    .main__content 
        ul 
            li Sed, totam? Deserunt amet quos nostrum dignissimos ad, soluta beatae. Iure optio, magnam mollitia quis deserunt eos atque autem pariatur alias porro?
            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sunt tenetur accusamus natus dolores maxime quia laudantium deleniti eum perferendis excepturi hic eos praesentium, iure facere dignissimos voluptatem molestias aspernatur.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quos nisi aliquam laboriosam eveniet debitis, laudantium magni asperiores iure, minima vel reiciendis corporis, sapiente sequi perspiciatis eligendi officia placeat delectus.